/*
 * Copyright (c) 2025 Silicon Laboratories Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <silabs/xg24/efr32bg24a020f1024im40.dtsi>
#include <zephyr/dt-bindings/lora/sx126x.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include "swt_043a_01.dtsi"
#include <zephyr/dt-bindings/pinctrl/silabs/xg24-pinctrl.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <zephyr/dt-bindings/spi/spi.h>

/ {
	model = "Smartwave Technologies Platform Development Board";
	compatible = "multitech,swt_043a_01", "silabs,efr32bg24";

	chosen {
		zephyr,display = &display0;
	};

	aliases {
		led1 = &hand_dect_led;
		lora0 = &lora0;
		pwm-led0 = &pwm_led0;
		sloan-uart = &eusart1;
	};



	leds{
		status = "okay";
		compatible = "gpio-leds";
		hand_dect_led: led_1{
			gpios = <&gpioc 03 GPIO_ACTIVE_LOW>;
			label = "Hand Detect LED";
		};
	};

	pwmleds {
		compatible = "pwm-leds";

		pwm_led0: pwm_led_0 {
			pwms = <&timer0_pwm 0 PWM_MSEC(5) PWM_POLARITY_NORMAL>;
			label = "PWM LED 0";
		};
	};
};

&timer0 {
	status = "okay";

	timer0_pwm: pwm {
		pinctrl-0 = <&timer0_default>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&dcdc {
	silabs,pfmx-peak-current-milliamp = <120>;

};

&radio {
	status="okay";
	pa-voltage-mv = <1800>;
};

&eusart0 {
	status = "okay";
	pinctrl-0 = <&eusart0_default>;
	pinctrl-1 = <&eusart0_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpioa 0 GPIO_ACTIVE_LOW>, <&gpioc 2 GPIO_ACTIVE_LOW>; // Here we set the cs pins to only the SX1262 CS pin
	#address-cells = <1>;
	#size-cells = <0>;
	lora0: sx1262@0 {
		compatible = "semtech,sx1262";
		status = "okay";
		reg = <0>; // reg 0 refers to the first element of cs-gpio
		label = "sx1262";
		reset-gpios = <&gpioa 6 GPIO_ACTIVE_LOW>;
		busy-gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
		rx-enable-gpios = <&gpiob 0 GPIO_ACTIVE_LOW>;
		dio1-gpios = <&gpioa 8 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		dio2-tx-enable;
		spi-max-frequency = <1000000>;
	};
	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&eusart0>;

		dc-gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpioc 4 GPIO_ACTIVE_LOW>;

		write-only;

		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-0 = <&eusart1_default>;
		pinctrl-names = "default";

		display0: st7796s@1 {
			compatible = "sitronix,st7796s";
			status = "okay";
			reg = <1>; // reg 0 refers to the first element of cs-gpio
			label = "lcd";
			mipi-max-frequency = <1000000>;
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
			duplex = <SPI_FULL_DUPLEX>;
			height = <320>;
			width = <480>;
			invert-mode = "1-dot";
			frmctl1 = [80 10];
			bpc = [1f 50 00 20];
			dfc = [8a 07 3b];
			pwr1 = [80 64];
			pwr2 = <0x13>;
			pwr3 = <0xa7>;
			vcmpctl = <0x09>;
			doca = [40 8a 00 00 29 19 a5 33];
			pgc = [f0 06 0b 07 06 05 2e 33 47 3a 17 16 2e 31];
			ngc = [f0 09 0d 09 08 23 2e 33 46 38 13 13 2c 32];
			madctl = <0x28>;
			rgb-is-inverted;
			// color-invert;
			color-coding = "MIPI_DBI_MODE_RGB565";
			/* LCD_TE tearing signal is not available in SPI PMOD connector */
			te-mode = "MIPI_DBI_TE_NO_EDGE";
		};
	};
};

&usart0 {
	current-speed = <115200>;
	pinctrl-0 = <&usart0_default>;
	pinctrl-1 = <&usart0_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";
};

&pti{
	status="okay";
	pinctrl-0 = <&pti_default>;
	pinctrl-names = "default";
	clock-frequency  = <1600000>;
	mode = "uart";
};



&pinctrl{
	eusart1_default: eusart1_default {
		group0 {
			pins = <EUSART1_TX_PC1>;
			drive-push-pull;
			output-high;
		};

		group1 {
			pins = <EUSART1_RX_PC5>;
			input-enable;
			silabs,input-filter;
		};
	};

	eusart1_sleep: eusart1_sleep {
		group0 {
			pins = <EUSART1_TX_PC1>, <EUSART1_RX_PC5>;
		};
	};

	i2c0_default: i2c0_default {
		group0 {
			pins = <I2C0_SCL_PB1>, <I2C0_SDA_PB2>;
			drive-open-drain;
			bias-pull-up;
		};
	};
};

&lfrco {
	precision-mode;
};

&lfxo{
	ctune=<0x64>;
};

&eusart1 {
	compatible = "silabs,eusart-uart";
	current-speed = <4800>;
	pinctrl-0 = <&eusart1_default>;
	pinctrl-1 = <&eusart1_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	co2_sensor: scd41@62 {
        compatible = "sensirion,scd41";
		status = "okay";
        reg = <0x62>;
        mode = <0>;
    };
};

