/*
 * Copyright (c) 2025 Silicon Laboratories Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <silabs/xg24/efr32bg24a020f1024im40.dtsi>
#include <zephyr/dt-bindings/lora/sx126x.h>

#include "swt_043a_01.dtsi"

/ {
	model = "Smartwave Technologies Platform Development Board";
	compatible = "multitech,swt_043a_01", "silabs,efr32bg24";
};

&dcdc {
	silabs,pfmx-peak-current-milliamp = <120>;
};

&radio {
	pa-voltage-mv = <1800>;
};

/ {
	aliases {
		lora0 = &lora0;
	};
};

&pinctrl {
	eusart1_default: eusart1_default {
		group0 {
			pins = <EUSART1_TX_PC1>, <EUSART1_SCLK_PC3>;
			drive-push-pull;
			output-high;
		};

		group1 {
			pins = <EUSART1_RX_PC2>;
			input-enable;
			silabs,input-filter;
		};
	};

	eusart1_sleep: eusart1_sleep {
		group0 {
			pins = <EUSART1_TX_PC1>, <EUSART1_RX_PC2>, <EUSART1_SCLK_PC3>;
		};
	};

	usart0_default: usart0_default {
		group0 {
			pins = <USART0_TX_PA0>;
			drive-push-pull;
			output-high;
		};

		group1 {
			pins = <USART0_RX_PC4>;
			input-enable;
			silabs,input-filter;
		};
	};

	usart0_sleep: usart0_sleep {
		group0 {
			pins = <USART0_TX_PA0>, <USART0_RX_PC4>;
		};
	};
};

&eusart1 {
	status = "okay";
	pinctrl-0 = <&eusart1_default>;
	pinctrl-1 = <&eusart1_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpioc 0 GPIO_ACTIVE_LOW>; // Here we set the cs pins to only the SX1262 CS pin

	lora0: sx1262@0 {
		compatible = "semtech,sx1262";
		status = "okay";
		reg = <0>; // reg 0 refers to the first element of cs-gpio
		label = "sx1262";
		reset-gpios = <&gpioa 9 GPIO_ACTIVE_LOW>;
		busy-gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
		// rx-enable-gpios = <&gpioa 6 GPIO_ACTIVE_LOW>;
		dio1-gpios = <&gpioa 8 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		// dio1-gpios = <&gpio1 15 GPIO_ACTIVE_LOW>;
		dio2-tx-enable;
		spi-max-frequency = <1000000>;
	};
};

&i2c0 {
	status = "okay";

	bme280@76 {
		compatible = "bosch,bme280";
		status = "okay";
		reg = <0x76>;
	};

	scd41@62 {
		compatible = "sensirion,scd41";
		status = "okay";
		reg = <0x62>;
		mode = <0>;
	};
};

&usart0 {
	current-speed = <115200>;
	pinctrl-0 = <&usart0_default>;
	pinctrl-1 = <&usart0_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";
};
